<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les articles caméras | Ornico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .row a{
            background-color:#f3e9f1;
            border: none;
            color:#007bff;
            font-weight: bold;
            transition: 1s;
            height: 40px;
            padding-top: 8px;
        }
        footer {
            background-color:#f3e9f1;
        }
        footer a {
            color: black;
        }
        .row a:hover{
            color: #ffffff;
            background-color: #007bff;
            transition: 1s;
        }
    </style>
</head> 
<body>
    <header>
        <nav style="background-color: #f3e9f1;">
            <div style="display: flex; justify-content: space-around; font-size: x-large;">
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li>
                        <a href="">
                            <img src="../images/logo/logoOrnico.png" style="width: 200px; height: 100px; max-width: 100%;" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li style="margin-right: 35px"> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    
    </header>
    <main>
        <div id="content-cards" class="container">
            <h1 class="mt-4 mb-4">Tous nos articles</h1>
            <div class="row">
              
            </div>
        </div>
    </main>
    <footer class="font-weight-bolder text-body">

        <div class="text-center py-3">© 2020 Copyright:
          <a href="#!">Developed By Elonge</a>
        </div>
        
    </footer>
    <script type="text/javascript" src="./js/index.js" async></script>
</body>
</html>

