<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les articles caméras | Ornico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head> 
<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="">
                            <img class="img-header" src="../images/logo/logoOrnico.png" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul class="panier-nav">
                    <li> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    
    </header>
    <main>
        <div id="content-cards" class="container">
            <h1 class="mt-4 mb-4">Tous nos articles</h1>
            <div class="row">
              
            </div>
        </div>
    </main>
    <footer class="font-weight-bolder text-body">

        <div class="text-center py-3">© 2020 Copyright:
          <a href="#!">Developed By Elonge</a>
        </div>
        
    </footer>
    <script type="text/javascript" src="./js/index.js" async></script>
</body>
</html>

