<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier des produits caméras | Ornico</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <header>
        <nav style="background-color: #f3e9f1;">
            <div style="display: flex; justify-content: space-around; font-size: x-large;">
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li>
                        <a href="./index.html">
                            <img src="../images/logo/logoOrnico.png" style="width: 200px; height: 100px; max-width: 100%;" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li style="margin-right: 35px"> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <menu>
        <div class="container">
            <h1 class="mt-4">Mon panier</h1>
            <div class="row mt-5">
                <div class="col-8 parent-element">
                    <div class="row resume-area mb-5">
                        <div class="col add-border"><!--border-->
                            <div class="row add-border-bottom"><!--borderb-->
                                <div class="col">
                                    <h3></h4>
                                </div>
                            </div>
                            <div class="row add-border-bottom"><!--borderb-->
                                <div class="col">
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="image-to-resume img-fluid rounded img-thumbnail">
                                        </div>
                                        <div class="col-6">
                                            <p class="description"></p>
                                        </div>
                                        <div class="col-3">
                                            <p class="price font-weight-bold"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row font-weight-bold text-primary">
                                        <div class="col-3"></div>
                                        <div class="col-6 total-price"></div>
                                        <div class="col-3 total-price-value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="row font-weight-light">
                                        <div class="col-3"></div>
                                        <div class="col-6 expedition-price"></div>
                                        <div class="col-3 expedition-price-value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row font-italic font-weight-bold">
                                        <div class="col-3"></div>
                                        <div class="col-6 product-quantity"></div>
                                        <div class="col-3 product-quantity-value"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row font-italic font-weight-light">
                                        <div class="col-3"></div>
                                        <div class="col-6 lenses"></div>
                                        <div class="col-3 lenses-value"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col pl-5">
                            <div class="row mb-4">
                                <div class="col">
                                    <h5></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <p id="sous-total"></p>
                                </div>
                                <div class="col mb-3">
                                    <p class="font-weight-bold text-primary" id="total"></p>
                                </div>
                                
                            </div>
                            <div class="row"  id="add-border-bottom"><!--borderb-->
                                <div class="col mb-1">
                                    <p id="livraison"></p>
                                </div>
                                <div class="col mb-1">
                                    <p class="font-weight-light text-primary" id="final-expetition"></p>
                                </div> 
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <p id="tva"></p>
                                </div>  
                                <div class="col">
                                    <p class="font-weight-bold text-primary" id="total-with-tva"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </menu>
    <script type="text/javascript" src="./js/panier.js"></script>
</body>
</html>