<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .controls{
            height: 1.5rem;
            cursor: pointer;
            width: 70%;
            display: flex;
            justify-content: space-between;
            background-color: #eee;
        }
        .controls span:nth-child(1),
        .controls span:nth-child(3){
            border: 1px solid cornflowerblue;
            color: cornflowerblue;
            background: #fff;
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 0 0.5rem;
            display: block;
        }
    </style>
</head>
<body id="product">
    <header>
        <nav style="background-color: #f3e9f1;">
            <div style="display: flex; justify-content: space-between; font-size: x-large;">
                <ul style="display: flex; flex-direction: row; justify-content: space-between; list-style: none; align-items: center;">
                   
                    <li>
                        <a href="./index.html">
                            <img src="../images/logo/logoOrnico.png" style="width: 200px; height: 100px; max-width: 100%;" alt="">
                        </a>
                    </li>

                    <li>
                        <span style="margin-left: 40px;"> <a href="./index.html"> Accueil</a> </span>
                    </li>
                </ul>
                <ul style="display: flex; flex-direction: row; list-style: none; align-items: center;">
                    <li style="margin-right: 35px"> <a href="">Produit</a> </li>
                    <li style="margin-right: 35px"> <a href="./panier.html">Panier</a> </li>
                    <li style="margin-right: 35px"> <a href="./remerciement.html">Remerciement</a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="mt-4">Personnaliser vos produits sélectionnés</h1>
            <div class="row mt-5">
                <div class="col">
                    <div class="row">
                        <div class="col-3 text-center border-bottom">
                            <h3>Produits</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Description</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Lentilles</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Quantité</h3>
                        </div>
                    </div>
                    <div class="row produit-desc-lense">
                        <div class="col-3 text-center border-bottom">
                            <img class="img-fluid rounded img-thumbnail">
                            <h5></h5>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom">
                            <p class="description"></p>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom parentSelect">
                            
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom">
                            <div class="controls">
                                <span class="plus">+</span>
                                <span class="qty"></span>
                                <span class="minus">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="row produit-desc-lense">
                        <div class="col-6"></div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Prix</h3>
                        </div>
                        <div class="col-3 border-bottom text-center">
                            <span class="priceElement"></span><span class="spanEuroElement"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="./js/produit.js"></script>
</body>
</html>