<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body id="product">
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="./index.html">
                            <img class="img-header" src="../images/logo/logoOrnico.png" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul class="panier-nav">
                    <li> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    
    </header>
    <main>
        <div class="container">
            <h1 class="mt-4">Personnaliser vos produits sélectionnés</h1>
            <div class="row mt-5">
                <div class="col">
                    <div class="row">
                        <div class="col-3 text-center border-bottom">
                            <h3>Produits</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Description</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Lentilles</h3>
                        </div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Quantité</h3>
                        </div>
                    </div>
                    <div class="row produit-desc-lense">
                        <div class="col-3 text-center border-bottom">
                            <img class="img-fluid rounded img-thumbnail">
                            <h5></h5>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom">
                            <p class="description"></p>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom parentSelect">
                            
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center border-bottom">
                            <div class="controls">
                                <span class="plus">+</span>
                                <span class="qty"></span>
                                <span class="minus">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="row produit-desc-lense">
                        <div class="col-6"></div>
                        <div class="col-3 text-center border-bottom">
                            <h3>Prix</h3>
                        </div>
                        <div class="col-3 border-bottom text-center">
                            <span class="priceElement font-weight-bold"></span><span class="spanEuroElement"></span>
                        </div>
                    </div>
                    <div class="row produit-desc-lense">
                        <div class="col-6"></div>
                        <div class="col-6 text-center mt-3">
                           <button type="button" class="btn btn-dark">Envoyer dans panier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="./js/produit.js"></script>
</body>
</html>