<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="./index.html">
                            <img class="img-header" src="../images/logo/logoOrnico.png" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul class="panier-nav">
                    <li> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    
    </header>
    <menu>
        <div class="container">
            <h1 class="font-italic text-primary">Ornico</h1><hr>
            <div class="row">
                <div class="col">
                    <h3 class="float-right">Confirmation de commande</h3>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <p class="float-right orderId text-primary font-weight-bolder"></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="font-weight-bolder bonjour text-warning"></p>
                    <p class="text1"></p><span class="text2"></span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <p class="wish"></p>
                    <p class="sign font-weight-bolder"></p>
                </div>
            </div>
            
        </div>
        
    </menu>
    <script type="text/javascript" src="./js/remerciement.js"></script>
</body>
</html>