<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="./js/remerciement.js"></script>
</head>
<body>
    <header>
        <nav style="background-color: #f3e9f1;">
            <div style="display: flex; justify-content: space-around; font-size: x-large;">
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li>
                        <a href="./index.html">
                            <img src="../images/logo/logoOrnico.png" style="width: 200px; height: 100px; max-width: 100%;" alt="logo ornico">
                        </a>
                    </li>  
                </ul>
                <ul style="display: flex; list-style: none; align-items: center;">
                    <li style="margin-right: 35px"> <a href="./panier.html">Panier</a> </li>
                </ul>
            </div>
        </nav>
    
    </header>
    <menu>
        <div class="container">
            <h1 class="font-italic text-primary">Ornico</h1><hr>
            <div class="row">
                <div class="col">
                    <h3 class="float-right">Confirmation de commande</h3>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <p class="float-right">commande n°</p>
                </div>
            </div>
            
        </div>
        
    </menu>
</body>
</html>